* {
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    color: #000;
    background-color: #220314;
}

header img {
    border-radius: 50%;
    margin: 0 50px;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 7px;
    font-size: 16px;
}

.menu {
    background: #13020c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
}

.menu .logo-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}

.menu .menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 4px solid #91c4d3;
}

.logo-menu {
    display: flex;
    align-items: center;
}

.logo-menu img {
    border-radius: 50%;
}

.menu .menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cv a {
    text-decoration: none;
    color: #fff;
    background: #31011d;
    padding: 10px 15px;
    margin: 25px;
    border-radius: 9px;
}

.cv {
    margin: 0px;
}

.contenedor {
    display: flex;
}

.foto img {
    width: 550px;
}

.box {
    width: 200px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}
.slide-img {
    height: 250px;
    position: relative;
}
.slide-img img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acerca h2 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.acerca p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 35px;
}

.proyectos {
    display: flex;
}

.proyectos img {
    width: 500px;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 0.5em;
}

.contact-content {
    background-color: #31011d;
    width: 50%;
}

.tag span {
    padding: 0.5em;
    box-shadow: -4px 4px 9px white;
}

.form {
    max-inline-size: 450px;
    margin: auto;
}

.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    padding-inline-start: 0.5em;
    color: #fff;
}

.form label span {
    color: #da1414;
}

.form input,
.form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 0.8em;
    border-radius: 0.5em;
    border: 1px solid #858c94;
}

.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}

input::-webkit-input-placeholder {
    color: #0f0a0a88;
}

.btn {
    border-radius: 8px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border-radius: 2px solid #000;
    font-weight: bold;
    padding: 0 1.5em;
    color: #fff;
}

.btn .full {
    width: 100%;
}

.btn .primary {
    background-color: var(--primary);
}

#envio {
    text-decoration: none;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13020c;
    margin: 50px 0px 0px;
}

.footer img {
    border-radius: 50%;
}

.footer p {
    text-align: center;
    color: #fff;
}

.footer .redes {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .contenedor {
        flex-direction: column;
    }

    .texto {
        font-size: 30px;
        margin-top: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    .foto img {
        width: 300px;
    }

    .proyectos {
        flex-direction: column;
    }

    .proyectos img {
        width: 400px;
    }

    .form .tag span {
        display: block;
        text-align: center;
    }

    .form {
        max-inline-size: 350px;
        margin: auto;
        font-size: 16px;
    }

    .form input,
    .form textarea {
        box-sizing: border-box;
        width: 100%;
        font-size: 0.8rem;
        padding: 0.8em;
        border-radius: 0.5em;
        border: 1px solid #858c94;
    }

    .footer {
        flex-direction: column;
    }

    .footer p {
        font-size: 15px;
    }
}

@media (min-width: 320px) {
    body {
        max-width: 100%;
    }

    .contenedor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .proyectos img {
        width: 300px;
    }

    .contact-content {
        background-color: #31011d;
        width: 65%;
    }

    .form {
        max-inline-size: 200px;
    }

    .cv {
        margin: 20px -7px;
    }
}
